In [77]:
import pandas as pd
import numpy as np

# Hashtag

In [95]:
#In this code I will use a for loop to print 0-9
#
for i in range(20):
## we needed to change this value from 10 to 20 
              print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

# Strings

In [79]:
x="strings have quotation marks or apostrophe marks on the outside"

In [80]:
x

'strings have quotation marks or apostrophe marks on the outside'

In [81]:
print(x)

strings have quotation marks or apostrophe marks on the outside

In [82]:
#you can't do calculations on strings except for joining strings together:

In [69]:
string1='Vehicle'
string2='Registration'

In [70]:
## in this cell I am working to concatenate both of these strings together as one string

new_string=(string1 + " " + string2)
print(new_string)

Vehicle Registration

# Boolean

In [71]:
A = {1, 2, 8}
B = {1,2,9,8,5}
result = A.issubset(B)
print(result)

True

In [73]:
y==5

True

# AVINASH

# Concatenating strings

In [74]:
y = "Matt"

In [75]:
y="Matt"
x=5

In [76]:
new_string=(y + " " + x)
print(new_string)

TypeError: can only concatenate str (not "int") to str

In [ ]:
new_string=(y + " " + str(x))
print(new_string)

# Indexing

Matt 5
012345

In [ ]:
new_string="abcdefjhijklmnopqrstuvwxyzasdfnasjkfdhasjdkfaskjfhasjkfhaksjfjhhaskdjfhsmatt"

In [ ]:
new_string[-2]

In [ ]:
new_string[1]

In [ ]:
new_string[2]

In [ ]:
new_string[-3]

In [ ]:
new_string='Turan'

In [86]:
new_string='Turan'
new_string[0:5]

'Turan'

# Slicing

In [ ]:
new_string[5:15]

# INPUT and Integers

In [96]:
x=input("What is your name? ")

What is your name? Matt

In [97]:
print(x)

Matt

In [98]:
## Troublshooting

In [108]:
f=input("How old are you?")

How old are you?27

In [111]:
# How old will you be in 5 years
z=int(f)+5

In [112]:
z

32

# Interactive project

In [26]:
import random as rd

In [27]:
rd.seed(30)

In [28]:
number = rd.randint(1,10)

In [29]:
guess =None

In [30]:
while guess != number:
    guess = input('Guess a number between 1-10: ')
    guess=int(guess)
    
    if guess == number:
        print("Congratulations - you guessed it!")
    else:
        print("No-try again!")

Guess a number between 1-10: 9
Congratulations - you guessed it!